
.input-responsive{
    width:60%;
}
    
.heading-responsive {
    
    color:#cfd1d4;
}   

.body-text-responsive {
    
    color:grey;
}

.social-icon-responsive {
    /* padding-top:20px; */
    text-align: right;
}

button.btn:hover{
    background: purple;
}



@media screen and (max-width:900px) {
    .input-responsive{
        width:100%;

    }

    .heading-responsive {
        font-size: 35px;
        color:#cfd1d4;
        text-align: center;
    }  
    
    .body-text-responsive {
        text-align: center;
        color:grey;
    }

    .social-icon-responsive{
        text-align: center;
        margin-left: 18%;
        margin-right: 18%;
    }
   
    .arrow {
    display:none;
    }
    
}




